@charset "utf-8";

/*Galeria leyendas*/
#n1_leyendas{
    padding: 20px;
    justify-content: center;
}
section .contenedor{
    text-align: center;
    margin-top: 58px;
}
#n1_legendas .galeria_leyenda{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#n1_legendas .titulo{
    color: royalblue;
    margin-bottom: 10px; 
}
.img-leyenda{
    width: 26%;
    margin: 5px 5px 6px;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(226, 181, 32, 0.87);
    border: solid 3px rgb(219, 223, 203);
}
.img-leyenda >img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
} 
.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-color: rgba(135, 206, 235,.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hover-galeria img{
    width: 50px;
}
.hover-galeria p{
    color: rgb(252, 252, 252);
}
.img-leyenda:hover .hover-galeria{
    transform: scale(1);
}
.hover-galeria .clic{
    color: rgb(22, 36, 224);
}